body {
    font-family: 'Roboto Condensed', sans-serif;
}

.brand {
    width: auto;
    max-width: 800px;
    padding-bottom: 160px;
}

@media (min-width: 768px) { 
    .brand { padding-bottom: 137px; }
}