@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.brand {
    width: auto;
    max-width: 800px;
    padding-bottom: 160px;
}

@media (min-width: 768px) { 
    .brand { padding-bottom: 137px; }
}